spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  jpa:
    open-in-view: false

  cloud:
    aws:
      credentials:
        access-key: ${AWS_S3_ACCESS_KEY}
        secret-key: ${AWS_S3_SECRET_KEY}
      region:
        static: ${AWS_S3_REGION:ap-northeast-2}
      s3:
        bucket: ${AWS_S3_BUCKET:aaa}
        presigned-url-expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600}

  naver:
    client-id: ${NAVER_CLIENT_ID:aaa}
    client-secret: ${NAVER_CLIENT_SECRET:aaa}

  batch:
    job:
      enabled: false
