<configuration>
    <property name="LOG_PATH" value=".logs"/>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 하루마다 새로운 로그 파일 생성 -->
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 보존 기간: 30일 -->
            <maxHistory>30</maxHistory>
            <!-- 압축해서 저장 가능 -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger{36} [%X{ipAddress} | %X{requestId} |
                %X{requestMethod} | %X{requestUrl}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger{36} [%X{ipAddress} | %X{requestId} |
                %X{requestMethod} | %X{requestUrl}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING"/>
        </root>
        <!-- > DataSource Proxy 사용으로 인해 SQL 미출력 < -->
        <logger name="org.hibernate.SQL" level="OFF"/>
        <!-- > Hibernate 일반 로그 (초기화, 매핑, 캐시) - SQL 생성 과정이나 Dirty checking 같은 상세 정보는 미출력 < -->
        <logger name="org.hibernate" level="INFO"/>
        <!-- > 트랜잭션 관련 로그 (DEBUG로 설정 시 트랜잭션 관련 자세한 내용 출력) < -->
        <logger name="org.springframework.orm.jpa" level="INFO"/>
        <!-- > DataSource Proxy 로그 < -->
        <logger name="net.ttddyy.dsproxy.listener.logging" level="INFO"/>
        <!-- > Bean Factory 로그 제거 < -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.boot" level="INFO"/>
        <!-- > 커넥션 풀 관련 로그 정리 < -->
        <logger name="com.zaxxer.hikari" level="INFO"/>
    </springProfile>

    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING"/>
        </root>
    </springProfile>

</configuration>
